data/Thyroid-disease-ann-thyroid filter=lfs diff=lfs merge=lfs -text
data/breast-cancer_enc.csv filter=lfs diff=lfs merge=lfs -text
data/spect_enc.csv filter=lfs diff=lfs merge=lfs -text
data/Qsar-biodegradation filter=lfs diff=lfs merge=lfs -text
data/Skin_NonSkin.txt filter=lfs diff=lfs merge=lfs -text
data/Spambase filter=lfs diff=lfs merge=lfs -text
data/hemi_unique_number.csv filter=lfs diff=lfs merge=lfs -text
data/sepsis_survival_primary_cohort.csv filter=lfs diff=lfs merge=lfs -text
data/toy_data.csv filter=lfs diff=lfs merge=lfs -text
data/Optical-recognition filter=lfs diff=lfs merge=lfs -text
data/Wall-following-robot-2 filter=lfs diff=lfs merge=lfs -text
data/hemi filter=lfs diff=lfs merge=lfs -text
data/Contraceptive-method-choice filter=lfs diff=lfs merge=lfs -text
data/shuttle.trn filter=lfs diff=lfs merge=lfs -text
data/soybean-small_enc.csv filter=lfs diff=lfs merge=lfs -text
data/tic-tac-toe_enc.csv filter=lfs diff=lfs merge=lfs -text
data/Banknote-authentication filter=lfs diff=lfs merge=lfs -text
data/Statlog-project-German-credit-24d filter=lfs diff=lfs merge=lfs -text
data/pendigits.tra filter=lfs diff=lfs merge=lfs -text
data/hayes-roth_enc.csv filter=lfs diff=lfs merge=lfs -text
data/hemi_unique_none.csv filter=lfs diff=lfs merge=lfs -text
data/avila-tr.txt filter=lfs diff=lfs merge=lfs -text
data/cncret filter=lfs diff=lfs merge=lfs -text
data/glass filter=lfs diff=lfs merge=lfs -text
data/seeds filter=lfs diff=lfs merge=lfs -text
data/Skin_NonSkin_1w.csv filter=lfs diff=lfs merge=lfs -text
data/balance-scale_enc.csv filter=lfs diff=lfs merge=lfs -text
data/monk3_enc.csv filter=lfs diff=lfs merge=lfs -text
data/Skin_NonSkin_10w.csv filter=lfs diff=lfs merge=lfs -text
data/car_eval_enc.csv filter=lfs diff=lfs merge=lfs -text
data/house-votes-84_enc.csv filter=lfs diff=lfs merge=lfs -text
data/small_toy filter=lfs diff=lfs merge=lfs -text
data/EEG_eye_state filter=lfs diff=lfs merge=lfs -text
data/HTRU_2.csv filter=lfs diff=lfs merge=lfs -text
data/Ozone-level-detection-eight filter=lfs diff=lfs merge=lfs -text
data/monk1_enc.csv filter=lfs diff=lfs merge=lfs -text
data/monk2_enc.csv filter=lfs diff=lfs merge=lfs -text
data/page-blocks.csv filter=lfs diff=lfs merge=lfs -text
data/Ozone-level-detection-one filter=lfs diff=lfs merge=lfs -text
data/Statlog-project-landsat-satellite filter=lfs diff=lfs merge=lfs -text
data/body filter=lfs diff=lfs merge=lfs -text
